# CSV Loader

In [2]:
from langchain_community.document_loaders.csv_loader import CSVLoader

loader = CSVLoader(file_path='../docs/students_set.csv', csv_args={
    'delimiter': ',',
    'quotechar': '"',
    'fieldnames': ['MLB Team', 'Payroll in millions', 'Wins']
})
data = loader.load()

In [3]:
data

[Document(metadata={'source': '../docs/students_set.csv', 'row': 0}, page_content='MLB Team: Roll\nPayroll in millions: Student_Name\nWins: Age\nNone: Gender,Level,City'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 1}, page_content='MLB Team: 1\nPayroll in millions: John\nWins: 22\nNone: Male,Undergraduate,Karachi'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 2}, page_content='MLB Team: 2\nPayroll in millions: Adam\nWins: 23\nNone: Male,Graduate,Lahore'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 3}, page_content='MLB Team: 3\nPayroll in millions: Sara\nWins: 25\nNone: Female,Graduate,Islamabad'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 4}, page_content='MLB Team: 4\nPayroll in millions: Alex\nWins: 30\nNone: Male,Post-Graduate,Karachi'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 5}, page_content='MLB Team: 5\nPayroll in millions: Neha\nWins: 20\nNone: Female,High-School,Lahore'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 6}, page_content='MLB Team: 6\nPayroll in millions: Soha\nWins: 28\nNone: Female,Post-Graduate,Karachi'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 7}, page_content='MLB Team: 7\nPayroll in millions: Zara\nWins: 25\nNone: Female,Graduate,Karachi'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 8}, page_content='MLB Team: 8\nPayroll in millions: Feroz\nWins: 31\nNone: Male,Post-Graduate,Lahore'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 9}, page_content='MLB Team: 9\nPayroll in millions: Saad\nWins: 22\nNone: Male,Undergraduate,Islamabad'),
 Document(metadata={'source': '../docs/students_set.csv', 'row': 10}, page_content='MLB Team: 10\nPayroll in millions: Baber\nWins: 28\nNone: Male,Post-Graduate,Hyderabad')]

# Print Row 1

In [4]:
print(data[0])
print("\n --- \n")
print(data[1])

page_content='MLB Team: Roll
Payroll in millions: Student_Name
Wins: Age
None: Gender,Level,City' metadata={'source': '../docs/students_set.csv', 'row': 0}

 ---

page_content='MLB Team: 1
Payroll in millions: John
Wins: 22
None: Male,Undergraduate,Karachi' metadata={'source': '../docs/students_set.csv', 'row': 1}

# Page Content Row 1

In [5]:
print(data[0].page_content)
print("\n --- \n")
print(data[2].page_content)

MLB Team: Roll
Payroll in millions: Student_Name
Wins: Age
None: Gender,Level,City

 ---

MLB Team: 2
Payroll in millions: Adam
Wins: 23
None: Male,Graduate,Lahore

# For Loop

In [6]:
for info in data:
    print("\n\n ", info.page_content, "\n\n")

  MLB Team: Roll
Payroll in millions: Student_Name
Wins: Age
None: Gender,Level,City




  MLB Team: 1
Payroll in millions: John
Wins: 22
None: Male,Undergraduate,Karachi




  MLB Team: 2
Payroll in millions: Adam
Wins: 23
None: Male,Graduate,Lahore




  MLB Team: 3
Payroll in millions: Sara
Wins: 25
None: Female,Graduate,Islamabad




  MLB Team: 4
Payroll in millions: Alex
Wins: 30
None: Male,Post-Graduate,Karachi




  MLB Team: 5
Payroll in millions: Neha
Wins: 20
None: Female,High-School,Lahore




  MLB Team: 6
Payroll in millions: Soha
Wins: 28
None: Female,Post-Graduate,Karachi




  MLB Team: 7
Payroll in millions: Zara
Wins: 25
None: Female,Graduate,Karachi




  MLB Team: 8
Payroll in millions: Feroz
Wins: 31
None: Male,Post-Graduate,Lahore




  MLB Team: 9
Payroll in millions: Saad
Wins: 22
None: Male,Undergraduate,Islamabad




  MLB Team: 10
Payroll in millions: Baber
Wins: 28
None: Male,Post-Graduate,Hyderabad